@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wdth,wght@1,87,562&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wdth,wght@1,87,562&family=Roboto&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

#headerindex {
  background-color: #E3F2FD;
}
#headerindex div #logo {
  padding: 10px;
  padding-left: 150px;
}
#headerindex div #logo a #logoimg {
  height: 100px;
  width: 270px;
}
#headerindex a {
  font-size: 1.2rem;
  font-style: italic;
  font-weight: bold;
}
#headerindex a:hover {
  color: #E3F2FD;
  background-color: black;
  border-radius: 10px;
}

#headerindex {
  display: grid;
  grid-area: header;
}

#mainindex {
  height: 100%;
  display: grid;
  grid-area: main;
  grid-template-rows: 0.5fr repeat(2, 1fr);
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "banner banner" "sobrenosotros sobrenosotros" "mapa contacto ";
}
#mainindex #carrousel-img-banner {
  grid-area: banner;
}
#mainindex #carrousel-img-banner img {
  height: 400px;
  width: 100%;
}

#nosotros {
  grid-area: sobrenosotros;
}
#nosotros .sobrenosotros {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 10px;
  margin: 2px;
  display: flex;
  flex-direction: row;
}
#nosotros .sobrenosotros h3 {
  margin-top: 10px;
  font-weight: 600;
  text-align: center;
  font-size: 4rem;
  font-family: Roboto, sans-serif;
  padding-top: 200px;
}
#nosotros .sobrenosotros .textnosotros {
  background-repeat: no-repeat;
  flex-basis: 50%;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
}
#nosotros .sobrenosotros .textnosotros p {
  font-weight: 600;
  text-align: center;
  font-size: 1.7rem;
}
#nosotros .sobrenosotros .textnosotros a .leer-mas-btn {
  background-color: #E3F2FD;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  border: 0%;
  padding: 30px;
  border-radius: 30px;
}
#nosotros .sobrenosotros .textnosotros a .leer-mas-btn:hover {
  background-color: black;
  color: #E3F2FD;
  border-radius: 30px;
}
#nosotros .sobrenosotros .imgnosotros {
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
}
#nosotros .sobrenosotros .imgnosotros .imgnosotros2 {
  height: 850px;
  width: 900px;
  border-radius: 10px;
}

.mapaubicacion {
  grid-area: mapa;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mapaubicacion .mapaubicacion2 {
  height: 900px;
  width: 1000px;
  border-radius: 30px;
  padding: 20px;
}

.infocontacto {
  grid-area: contacto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: Haettenschweiler, "Arial Narrow Bold", sans-serif;
  justify-content: center;
  align-content: center;
}
.infocontacto .contactanostitulo {
  font-family: Roboto, sans-serif;
  font-size: 5rem;
  text-align: center;
  margin-bottom: 40px;
}
.infocontacto .contenedor-contacto .direccion {
  background-color: #E3F2FD;
  margin-top: 50px;
  border-radius: 10px;
  border: 2px solid black;
  padding: 15px;
}
.infocontacto .contenedor-contacto .direccion p {
  font-size: 1.8rem;
  margin-bottom: 10px;
  font-weight: 600;
}
.infocontacto .contenedor-contacto .direccion span {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.infocontacto .contenedor-contacto .celular {
  background-color: #E3F2FD;
  margin-top: 50px;
  border-radius: 10px;
  border: 2px solid black;
  padding: 15px;
}
.infocontacto .contenedor-contacto .celular p {
  font-size: 1.8rem;
  margin-bottom: 10px;
  font-weight: 600;
}
.infocontacto .contenedor-contacto .celular span {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.infocontacto .contenedor-contacto .telefono {
  background-color: #E3F2FD;
  margin-top: 50px;
  border-radius: 10px;
  border: 2px solid black;
  padding: 15px;
}
.infocontacto .contenedor-contacto .telefono p {
  font-size: 1.8rem;
  margin-bottom: 10px;
  font-weight: 600;
}
.infocontacto .contenedor-contacto .telefono span {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.infocontacto .contenedor-contacto .email {
  background-color: #E3F2FD;
  margin-top: 50px;
  border-radius: 10px;
  border: 2px solid black;
  padding: 15px;
}
.infocontacto .contenedor-contacto .email p {
  font-size: 1.8rem;
  margin-bottom: 10px;
  font-weight: 600;
}
.infocontacto .contenedor-contacto .email span {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

span .wsapaside {
  position: fixed;
  left: 93%;
  bottom: 15%;
}

span .wsapaside .imglogowsap {
  height: 70px;
  width: 100px;
  border-radius: 80px;
}

#maincomprar .catalogoproductos {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#maincomprar .catalogoproductos .titulocatalgo {
  width: 100%;
  text-align: center;
  font-weight: bold;
  margin: 30px;
  font-size: 30px;
}
#maincomprar .catalogoproductos .producto {
  margin: 50px;
}
#maincomprar .catalogoproductos .producto img {
  width: 220px;
  height: 280px;
  border-radius: 30px;
}
#maincomprar .catalogoproductos .producto p {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
#maincomprar span .wsapaside {
  position: fixed;
  left: 93%;
  bottom: 15%;
}
#maincomprar span .wsapaside .imglogowsap {
  height: 70px;
  width: 100px;
  border-radius: 80px;
}

#main-nosotros {
  background-color: #E3F2FD;
}
#main-nosotros .section-img {
  background-image: url("../assets/images/backgroudnosotros.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#main-nosotros .section-img div .titulo-nosotros {
  color: aliceblue;
  font-size: 4rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 800;
  text-align: center;
}
#main-nosotros .section-img div ul li {
  color: aliceblue;
  font-size: 1.2rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  text-align: justify;
  text-align: center;
}
#main-nosotros #card-nosotros .titulo-nuestro-equipo {
  font-weight: 800;
  font-size: 4rem;
  text-align: justify;
  text-align: center;
}
#main-nosotros #card-nosotros div div {
  background-color: black;
}
#main-nosotros #card-nosotros div div .card-titulo {
  color: aliceblue;
  font-weight: 600;
  font-size: 1.6rem;
  text-align: center;
}
#main-nosotros #card-nosotros div div .card-texto {
  color: aliceblue;
  font-size: 1.2rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  text-align: center;
}
#main-nosotros #card-nosotros div div div #imagen-card {
  height: 450px;
  width: 630px;
  border-radius: 5px;
}
#main-nosotros span .wsapaside {
  position: fixed;
  left: 93%;
  bottom: 15%;
}
#main-nosotros span .wsapaside .imglogowsap {
  height: 70px;
  width: 100px;
  border-radius: 80px;
}

.main-fqa section div p {
  color: black;
  font-size: 3rem;
  text-align: center;
  font-weight: 800;
}
.main-fqa section div div nav div form input {
  padding: 20px;
  padding-right: 400px;
  border: 2px solid black;
}
.main-fqa section div div nav div form .boton {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid black;
  color: black;
}
.main-fqa section div li {
  color: black;
  padding-left: 30%;
  font-size: 1.3rem;
  text-align: start;
  font-style: italic;
  font-weight: bold;
}
.main-fqa section div li img {
  margin-right: 10px;
  height: 30px;
  width: 30px;
}

#main-contacto section {
  padding: 20px;
}
#main-contacto section div div p {
  font-size: 4rem;
  font-style: italic;
  font-weight: bold;
}
#main-contacto section div div #contacto div {
  padding: 5px;
  font-size: 1.2rem;
  font-style: italic;
  font-weight: bold;
}
#main-contacto section div div #boton {
  background-color: #E3F2FD;
}

#footerindex {
  background-color: #E3F2FD;
  display: grid;
  grid-area: footer;
  grid-template-rows: 1fr 0.5fr;
  grid-template-columns: 2fr 2fr 0.5;
  grid-template-areas: "nosotros ayuda siguenos " "derechosautor derechosautor derechosautor";
  padding-top: 10px;
  bottom: 0;
  width: 100%;
}
#footerindex h4 {
  font-size: 1.5rem;
  font-style: italic;
  font-weight: bold;
}
#footerindex h4 li {
  font-size: 1.1rem;
  font-style: italic;
  font-weight: bold;
}
#footerindex #rpmcompeticion {
  grid-area: nosotros;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
#footerindex #ayudaft {
  grid-area: ayuda;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
#footerindex #siguenosft {
  grid-area: siguenos;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
#footerindex #siguenosft .redesft2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  padding-top: 30px;
}
#footerindex #siguenosft .redesft2 a .img-redes {
  height: 45px;
  padding: 5px;
}
#footerindex #derechosautor {
  display: grid;
  grid-area: derechosautor;
}
#footerindex .derechosautor2 {
  background-color: #E3F2FD;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
#footerindex h5 {
  font-size: 1rem;
  font-family: "Noto Serif", serif;
}
#footerindex li {
  margin-left: 30px;
}

/* Escritorio primero o destok first */
@media (max-width: 1200px) {
  #mainindex {
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr;
    grid-template-areas: "banner" "sobrenosotros" "mapa" "contacto";
  }
  #carrousel-img-banner {
    height: 300px;
    width: 100%;
  }
  #nosotros {
    padding-bottom: 20px;
  }
  #nosotros .sobrenosotros {
    display: flex;
    flex-direction: column;
  }
  #nosotros .sobrenosotros .textnosotros {
    padding: 10px;
  }
  .imgnosotros2 {
    height: 900px;
    width: 700px;
    padding: 10px;
  }
  .mapaubicacion2 {
    height: 900px;
    width: 700px;
    padding-top: 100px;
  }
  #main-nosotros #card-nosotros div div div #imagen-card {
    height: 250px;
    width: 350px;
  }
}
@media (max-width: 1024px) {
  #logoimg {
    height: 400px;
    width: 600px;
  }
  #mainindex {
    grid-area: main;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr;
    grid-template-areas: "banner" "sobrenosotros" "mapa" "contacto";
  }
  #carrousel-img-banner img {
    height: 800px;
    width: 100%;
  }
  .sobrenosotros {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    flex-direction: column;
  }
  .textnosotros h3 {
    font-size: 50px;
  }
  .textnosotros ul li {
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
  }
  .imgnosotros2 {
    width: 900px;
  }
  .mapaubicacion {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mapaubicacion2 {
    height: 900px;
    width: 950px;
  }
  .wsapaside {
    position: fixed;
    left: 86%;
    bottom: 10%;
  }
  .infocontacto h3 {
    font-size: 50px;
    margin-bottom: 50px;
  }
  .infocontacto {
    display: flex;
    font-size: 25px;
  }
  #main-nosotros #card-nosotros {
    width: 99%;
  }
  #main-nosotros #card-nosotros div div div #imagen-card {
    height: 220px;
    width: 320px;
  }
  #main-nosotros span .wsapaside {
    position: fixed;
    left: 86%;
    bottom: 6%;
  }
}
@media (min-width: 765px) and (max-width: 968px) {
  #logo {
    padding-left: 100px;
  }
  .imgnosotros2 {
    height: 100%;
    width: 100%;
  }
  .mapaubicacion2 {
    height: 100%;
    width: 100%;
  }
  .wsapaside {
    position: fixed;
    left: 86%;
    bottom: 15%;
  }
  #main-nosotros #card-nosotros {
    width: 99%;
  }
  #main-nosotros #card-nosotros div div div #imagen-card {
    height: 200px;
    width: 300px;
  }
  #main-nosotros span .wsapaside {
    position: fixed;
    left: 86%;
    bottom: 6%;
  }
}
@media (max-width: 768px) {
  #logoimg {
    height: 300px;
    width: 600px;
    padding-right: 100px;
  }
  #carrousel-img-banner {
    height: 400px;
    width: 767px;
  }
  #nosotros .sobrenosotros .textnosotros h3 {
    font-size: 4rem;
  }
  #nosotros .sobrenosotros .textnosotros p {
    font-size: 1.5rem;
  }
  #nosotros .sobrenosotros .imgnosotros .imgnosotros2 {
    height: 600px;
    width: 600px;
    border-radius: 30px;
  }
  .mapaubicacion .mapaubicacion2 {
    height: 600px;
    width: 600px;
    border-radius: 30px;
    padding: 20px;
  }
  span .wsapaside {
    position: fixed;
    left: 80%;
    bottom: 6%;
  }
  #main-nosotros #card-nosotros {
    width: 99%;
  }
  #main-nosotros #card-nosotros div div div #imagen-card {
    height: 400px;
    width: 700px;
    padding-left: 50px;
  }
  #main-nosotros span .wsapaside {
    position: fixed;
    left: 86%;
    bottom: 6%;
  }
}
@media (min-width: 600px) and (max-width: 630px) {
  #carrousel-img-banner {
    height: 400px;
    width: 630px;
  }
  #nosotros .sobrenosotros .textnosotros h3 {
    font-size: 3rem;
  }
  #nosotros .sobrenosotros .textnosotros p {
    font-size: 1.2rem;
  }
  #nosotros .sobrenosotros .imgnosotros .imgnosotros2 {
    height: 600px;
    width: 550px;
    border-radius: 30px;
  }
  .mapaubicacion .mapaubicacion2 {
    height: 600px;
    width: 550px;
    border-radius: 30px;
    padding: 20px;
  }
  span .wsapaside {
    position: fixed;
    left: 65%;
    bottom: 6%;
  }
}
#main-nosotros #card-nosotros {
  width: 98%;
}

#main-nosotros #card-nosotros div div div #imagen-card {
  height: 400px;
  width: 550px;
  padding-left: 50px;
}

#main-nosotros span .wsapaside {
  position: fixed;
  left: 80%;
  bottom: 6%;
}

.main-fqa section div li {
  padding-left: 10%;
  font-size: 1.2rem;
}

.main-fqa span .wsapaside {
  position: fixed;
  left: 70%;
  bottom: 15%;
}

@media (max-width: 600px) {
  #logoimg {
    height: 300px;
    width: 400px;
    padding-right: 105px;
  }
  #carrousel-img-banner {
    height: 400px;
    width: 605px;
  }
  #nosotros .sobrenosotros .textnosotros h3 {
    font-size: 2rem;
  }
  #nosotros .sobrenosotros .textnosotros p {
    font-size: 1rem;
  }
  #nosotros .sobrenosotros .imgnosotros .imgnosotros2 {
    height: 600px;
    width: 400px;
    border-radius: 30px;
  }
  .mapaubicacion .mapaubicacion2 {
    height: 600px;
    width: 400px;
    border-radius: 30px;
  }
  .infocontacto .contactanostitulo {
    font-size: 4rem;
  }
  .infocontacto .contenedor-contacto {
    font-size: 1rem;
  }
  span .wsapaside {
    position: fixed;
    left: 80%;
    bottom: 6%;
  }
  .main-fqa section div li {
    padding-left: 10%;
    font-size: 1.2rem;
  }
  .main-fqa span .wsapaside {
    position: fixed;
    left: 75%;
    bottom: 15%;
  }
  #footerindex {
    grid-template-rows: repeat(3, 1fr) 0.5fr;
    grid-template-columns: 1fr;
    grid-template-areas: "nosotros" "ayuda" "siguenos " "derechosautor ";
  }
}
@media (min-width: 480px) and (max-width: 595px) {
  #carrousel-img-banner {
    height: 600px;
    width: 575px;
  }
}
@media (max-width: 480px) {
  #logoimg {
    height: 200px;
    width: 300px;
  }
  #carrousel-img-banner {
    height: 600px;
    width: 480px;
  }
  .imgnosotros2 {
    width: 350px;
  }
  .mapaubicacion2 {
    width: 350px;
  }
  span .wsapaside {
    position: fixed;
    left: 60%;
    bottom: 6%;
  }
  #main-nosotros #card-nosotros {
    width: 97%;
  }
  #main-nosotros #card-nosotros div div div #imagen-card {
    height: 400px;
    width: 450px;
    padding-left: 40px;
  }
  #main-nosotros span .wsapaside {
    position: fixed;
    left: 80%;
    bottom: 6%;
  }
  .main-fqa #barra-buscar {
    width: 70%;
    flex-direction: column;
    padding: 20px;
    padding-right: 200px;
    margin-left: 10px;
  }
  .main-fqa section div div nav div form input {
    padding-right: 300px;
  }
  .main-fqa section div li {
    font-size: 1, 2rem;
    padding-left: 5%;
    text-align: start;
  }
  .main-fqa span .wsapaside {
    position: fixed;
    left: 65%;
    bottom: 6%;
  }
}
@media (min-width: 321px) and (max-width: 453px) {
  #logoimg {
    height: 170px;
    width: 250px;
  }
  #carrousel-img-banner {
    height: 600px;
    width: 320px;
  }
  #nosotros .sobrenosotros .textnosotros h3 {
    font-size: 2rem;
  }
  #nosotros .sobrenosotros .textnosotros p {
    font-size: 1rem;
  }
  #nosotros .sobrenosotros .imgnosotros .imgnosotros2 {
    height: 600px;
    width: 250px;
    border-radius: 30px;
  }
  .mapaubicacion .mapaubicacion2 {
    height: 600px;
    width: 300px;
    border-radius: 30px;
  }
  .infocontacto .contactanostitulo {
    font-size: 3rem;
  }
  span .wsapaside {
    position: fixed;
    left: 50%;
    bottom: 6%;
  }
  #main-nosotros #card-nosotros {
    width: 97, 5%;
  }
  #main-nosotros #card-nosotros div div div #imagen-card {
    height: 300px;
    width: 400px;
    padding-left: 40px;
  }
  #main-nosotros span .wsapaside {
    position: fixed;
    left: 80%;
    bottom: 6%;
  }
  .main-fqa #barra-buscar {
    width: 20%;
    flex-direction: column;
    padding: 0%;
    padding-right: 0%;
  }
  .main-fqa section div div nav div form input {
    padding: 20%;
    padding-right: 150px;
  }
  .main-fqa section div div nav div form .boton {
    padding: 20px 80px 10px 20px;
  }
  .main-fqa section div li {
    padding-left: 5%;
    text-align: start;
  }
}
@media (max-width: 320px) {
  #headerindex div #logo {
    height: 150px;
    width: 325px;
  }
  #headerindex div #logo a #logoimg {
    height: 200px;
    width: 100%;
  }
  #carrousel-img-banner {
    height: 600px;
    width: 325px;
  }
  .leer-mas-btn {
    margin-bottom: 20px;
  }
  #nosotros .sobrenosotros .textnosotros h3 {
    font-size: 2rem;
  }
  #nosotros .sobrenosotros .textnosotros p {
    font-size: 1rem;
  }
  #nosotros .sobrenosotros .imgnosotros .imgnosotros2 {
    height: 600px;
    width: 250px;
    border-radius: 30px;
  }
  .mapaubicacion .mapaubicacion2 {
    height: 600px;
    width: 300px;
    border-radius: 30px;
  }
  .infocontacto .contactanostitulo {
    font-size: 3rem;
  }
  span .wsapaside {
    position: fixed;
    left: 60%;
    bottom: 6%;
  }
  #maincomprar span .wsapaside {
    position: fixed;
    left: 60%;
    bottom: 6%;
  }
  #main-nosotros #card-nosotros {
    width: 96%;
  }
  #main-nosotros #card-nosotros div div div #imagen-card {
    height: 200px;
    width: 300px;
    padding-left: 40px;
  }
  #main-nosotros span .wsapaside {
    position: fixed;
    left: 80%;
    bottom: 6%;
  }
  .main-fqa #barra-buscar {
    width: 20%;
    flex-direction: column;
    padding: 0%;
    padding-right: 0%;
  }
  .main-fqa section div div nav div form input {
    padding: 20%;
    padding-right: 150px;
  }
  .main-fqa section div div nav div form .boton {
    padding: 20px 80px 10px 20px;
  }
  .main-fqa section div li {
    padding-left: 5%;
    text-align: start;
  }
  .main-fqa span .wsapaside {
    position: fixed;
    left: 50%;
    bottom: 6%;
  }
}
@media (min-width: 1201px) and (max-width: 1400px) {
  #logo {
    margin-top: 50px;
    padding: 10px;
    padding-left: 150px;
  }
  #logoimg {
    height: 100px;
    width: 270px;
  }
  #mainindex {
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr;
    grid-template-areas: "banner" "sobrenosotros" "mapa" "contacto";
  }
  .sobrenosotros {
    flex-direction: column;
  }
  .imgnosotros2 {
    height: 100%;
    width: 100%;
    padding: 10px;
  }
  .mapaubicacion2 {
    height: 100%;
    width: 100%;
    padding-top: 100px;
  }
  #main-nosotros #card-nosotros {
    width: 99%;
  }
  #main-nosotros #card-nosotros div div div #imagen-card {
    height: 250px;
    width: 350px;
  }
  #main-nosotros span .wsapaside {
    position: fixed;
    left: 86%;
    bottom: 6%;
  }
}

/*# sourceMappingURL=style.css.map */
