#headerindex{
    display: grid;
    grid-area: header;
    background-color: #E3F2FD;
    div{
        #logo{
            padding: 10px;
            padding-left: 150px;
              a{
              #logoimg{
                height: 100px; 
                width: 270px;
                }
              }
           }
        }
        
        a{
            font-size: 1.2rem;
            font-family: 'Roboto', sans-serif; 
            font-weight: 600;
        }
    }