#main-nosotros{
  background-color:#E3F2FD;
    // background-image:url("../assets/images/");
    // background-repeat: no-repeat;
    // background-size: cover;
    .section-img {
          background-image:url("../assets/images/backgroudnosotros.jpg");
          background-repeat: no-repeat;
          background-size: cover;      
          div{
               .titulo-nosotros{
                color: aliceblue;
              font-size: 4rem;
              font-family: Georgia, 'Times New Roman', Times, serif;
              font-weight:800;
              text-align: center
            }
            ul{
                li{   
                color: aliceblue;
              font-size: 1.2rem;
              font-family: Georgia, 'Times New Roman', Times, serif;
              font-weight:400;
              text-align: justify;
              text-align: center

                }
            }
       }
    }
    
    #card-nosotros{
              .titulo-nuestro-equipo{
                font-weight: 800;
                font-size: 4rem;
                text-align: justify;
                text-align: center
              }
    div {
        div {
            background-color: black;
            .card-titulo{ 
                color: aliceblue;
                font-weight: 600;
                font-size: 1.6rem;
                text-align: center
            }
            .card-texto{
                color: aliceblue;
                font-size: 1.2rem;
                font-family: Georgia, 'Times New Roman', Times, serif;
               font-weight:400;
              text-align: center;
            }
            
             div{
                #imagen-card{
                    height:450px ;
                    width:630px;
                    border-radius: 5px;
              }
            }
         }
        }
      }

   @include wsp-alcostado;

}