.main-fqa {
//     background-image:url("../assets/images/");
//    background-repeat: no-repeat;
//    background-size: cover;
    section{
         div{
             p{
                color: black;
                font-size: 3rem;
                text-align: center;
                font-weight: 800;
            }

          div{
            nav{
               div{
                form{
                    input{
                       padding: 20px;
                       padding-right: 400px;
                       border: 2px solid black;
                    }
                    .boton{
                        background-color:white;
                        padding: 20px;
                        border-radius: 10px;
                        border: 2px solid black;
                        color: black;
                    }
                }
              }
            }
          }
            
                li{
                    color:black;
                    padding-left: 30%;
                    font-size: 1.3rem;
                    text-align: start;
                    font-style: italic;
                    font-weight: bold;
                    img{
                        margin-right: 10px;
                        height:30px ;
                        width:30px ;
                    }
            }
        }
    }

 @include wsp-alcostado ;

}