/* Escritorio primero o destok first */

@media (max-width :1200px) {

    #mainindex {
      grid-template-rows:repeat(4,1fr) ;
      grid-template-columns: 1fr ;
      grid-template-areas: 
      "banner"
      "sobrenosotros"
      "mapa"
      "contacto"
      ;
    }

    #headerindex a {
        font-size: 1.0rem;
        margin-left: 10px;
    }

#logo {
    margin-top: 20px;

}

#navbar-top {
    flex-direction: row;

}

#carrousel-img-banner{
    height: 300px;
    width: 100%;
}

#nosotros{
    padding-bottom: 20px;
 .sobrenosotros {
    display: flex;
    flex-direction: column;
     .textnosotros {
        padding: 10px;
    }
}
}

.imgnosotros2 {
   height:900px;
   width: 700px;
   padding: 10px;
  
}

.mapaubicacion2 {
    height: 900px;
    width: 700px;
    padding-top: 100px;
  
   }



}

@media (max-width :1024px) {
    #logoimg {
        height:400px ;
        width: 600px;

    }

    #mainindex {
        grid-area: main;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: 1fr;
        grid-template-areas:
            "banner"
            "sobrenosotros"
            "mapa"
            "contacto";
    }

    #carrousel-img-banner img {
        height: 800px;
        width: 100%;
    }

    .sobrenosotros {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 16px;
        flex-direction: column;
    }
    .textnosotros h3 {
        font-size: 50px;
    }

  .textnosotros ul li {
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
      
        }

    .imgnosotros2 {
        width: 900px;
    }

    .mapaubicacion{
        display: flex;
        justify-content: center;
        align-items: center;
       
    }

    .mapaubicacion2 {
        height: 900px;
        width: 950px;
        

    }

    .wsapaside {
        position: fixed;
        left: 86%;
        bottom: 10%;
    }

    .infocontacto h3 {
        font-size: 50px;
        margin-bottom: 50px;
     
    }

    .infocontacto {
        display: flex;
        font-size: 25px;

    }


}
@media (min-width :768px)  and  (max-width :968px) {
    #logo {
        padding-left: 100px;
    }

    .imgnosotros2 {
        height: 100%;
        width: 100%;
    
     }
     
     .mapaubicacion2 {
        height: 100%;
         width: 100%;
      
        }

    .wsapaside {
        position:fixed;
          left: 86%;
          bottom: 15%; }
}
  
@media (max-width :768px) {
    #logoimg {
        height:300px ;
        width: 600px;
        padding-right: 100px;

    }

    #carrousel-img-banner{
        height: 400px;
        width: 767px;
    }

    #nosotros{
     .sobrenosotros {
         .textnosotros {
              h3{
               font-size: 4rem;
              }
              p{
                 font-size: 1.5rem;
              }
        }
    }
    }


        #nosotros .sobrenosotros .imgnosotros .imgnosotros2 {
            height: 600px;
            width: 600px;
            border-radius: 30px;
        }
        
        
        .mapaubicacion .mapaubicacion2 {
            height: 600px;
            width: 600px;
            border-radius: 30px;
            padding: 20px;
        }

       span .wsapaside {
            position:fixed;
              left: 80%;
              bottom: 6%; }
    }
    
@media (min-width :600px)  and  (max-width :630px) {
    #carrousel-img-banner{
        height: 400px;
        width: 630px;
    }

    #nosotros{
        .sobrenosotros {
            .textnosotros {
                 h3{
                  font-size: 3rem;
                 }
                 p{
                    font-size: 1.2rem;
                 }
           }
       }
       }
   
   
           #nosotros .sobrenosotros .imgnosotros .imgnosotros2 {
               height: 600px;
               width: 550px;
               border-radius: 30px;
           }
           
           
           .mapaubicacion .mapaubicacion2 {
               height: 600px;
               width: 550px;
               border-radius: 30px;
               padding: 20px;
           }


    span .wsapaside {
        position:fixed;
          left: 65%;
          bottom: 6%; }
}

@media (max-width :600px) {
    #logoimg {
        height:300px ;
        width: 400px;
        padding-right: 105px;

    }

    #carrousel-img-banner{
        height: 400px;
        width: 605px;
    }

    #nosotros{
        .sobrenosotros {
            .textnosotros {
                 h3{
                  font-size: 2rem;
                 }
                 p{
                    font-size: 1rem;
                 }
           }
       }
       }
   

    #nosotros .sobrenosotros .imgnosotros .imgnosotros2 {
        height: 600px;
        width: 400px;
        border-radius: 30px;
    }
    
    
    .mapaubicacion .mapaubicacion2 {
        height: 600px;
        width: 400px;
        border-radius: 30px;
    }

    .infocontacto .contactanostitulo {
        font-size: 4rem;
    }
    .infocontacto .contenedor-contacto {
        font-size: 1rem;
    }
  

   

   span .wsapaside {
    position:fixed;
      left: 80%;
      bottom: 6%; 
    }


     #footerindex {
            grid-template-rows: repeat(3,1fr).5fr ;
            grid-template-columns:1fr;
            grid-template-areas: 
            "nosotros" 
            "ayuda" 
            "siguenos "
            "derechosautor "; }
}

@media (min-width :480px)  and  (max-width :595px) {

    #carrousel-img-banner{
        height: 600px;
        width: 575px;
    }
}

@media (max-width :480px) {

    #logoimg {
        height: 200px ;
        width: 300px;

    }

    #carrousel-img-banner{
        height: 600px;
        width: 480px;
    }

       .imgnosotros2 {
        width: 350px;
     }
     
     .mapaubicacion2 {
         width: 350px;
        }



        span .wsapaside {
            position:fixed;
              left: 60%;
              bottom: 6%; }
        
}
  
@media (min-width : 320px)  and  (max-width :453px) {
    #logoimg {
        height: 170px ;
        width: 250px;

    }

    #carrousel-img-banner{
        height: 600px;
        width: 455px;
    }
    
    .imgnosotros2 {
        width: 200px;
     }
     
     .mapaubicacion2 {
         width: 200px;
        }


.infocontacto {
    font-size:20px;
    flex-wrap: wrap;

   }

     .wsapaside {
            position:fixed;
              left: 68%;
              bottom: 8%; }

     }

@media (max-width :320px) {
    #headerindex div #logo a #logoimg {
        height: 150px;
        width: 200px;
    }
      #carrousel-img-banner{
        height: 600px;
        width: 320px;
    }
    
    
    .leer-mas-btn {
        margin-bottom: 20px;
    }

    #nosotros{
        .sobrenosotros {
            .textnosotros {
                 h3{
                  font-size: 2rem;
                 }
                 p{
                    font-size: 1rem;
                 }
           }
       }
       }
   

    #nosotros .sobrenosotros .imgnosotros .imgnosotros2 {
        height: 600px;
        width: 250px;
        border-radius: 30px;
    }
    
    
    .mapaubicacion .mapaubicacion2 {
        height: 600px;
        width: 300px;
        border-radius: 30px;
    }

    .infocontacto .contactanostitulo {
        font-size: 3rem;
    }

             
   span .wsapaside {
    position:fixed;
      left: 50%;
      bottom: 6%; 
    }
}


     @media (min-width :1201px) and (max-width :1400px) {
        #logo {
            margin-top:50px;
            padding: 10px;
            padding-left: 150px;
        }
        
        #logoimg {
            height: 100px; 
            width: 270px;
        }

        #mainindex {
            grid-template-rows:repeat(4,1fr) ;
            grid-template-columns: 1fr ;
            grid-template-areas: 
            "banner"
            "sobrenosotros"
            "mapa"
            "contacto"
            ;
          }

          
      .sobrenosotros {
        flex-direction: column;
      }

      .imgnosotros2 {
        height:100%;
        width: 100%;
        padding: 10px;
       
     }
     
     .mapaubicacion2 {
        height:100%;
        width: 100%;
         padding-top: 100px;
       
        }
     
    
     }
